body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

#main {
}

#main, #ticker {
    padding: 1em;
}

#ticker {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    background-color: #f0f0f0;
}